@navbar-default-bg: Moccasin;
@jumbotron-bg: Moccasin;
@navbar-default-link-color: DimGrey;
@navbar-default-link-hover-bg: Cornsilk;
@navbar-default-link-hover-color: Black;
@list-group-hover-bg: Cornsilk;
@list-group-border: Moccasin;
@nav-link-hover-bg: Cornsilk;
@link-color: DarkOrange;
@table-border-color: Gold;

@side-menu-width: 500px;
@header-offset: 50px;
#order-panel {

  @padding: 15px;

  width: 100%;
  left: -100%;

  position: fixed;
  top: 0;
  height: 100%;
  z-index: 1030;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: @gray-lighter;
  padding: @padding;
  padding-top: @header-offset + @padding;
}

/* When the window is at least 500px wide, fix the width of the menu to
 * 500px. */
@media (min-width: @side-menu-width) {

  #order-panel {
    width: @side-menu-width;
    left: -@side-menu-width;
  }
}
