    <nav id = 'navbar' class="navbar navbar-default">
      <div class="container-fluid">
      	<div class="navbar-header">
      		<a class="navbar-brand" href="/api">HungryND</a>
      	</div>
        <ul class="nav navbar-nav navbar">
          <li><a href="orders">Orders</a></li>
          <li><a href="restaurants">Restaurants</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      	<ul class="nav navbar-nav navbar-right">
          <li><a href="users/registration"> Sign up</a></li>
          <li><a href="#"> Login</a></li>
        </ul>
      </div>
    </nav>
 
