<!-- Add this between the header and footer -->

      <div id="registration-panel" class="container-fluid">
        <form id="user-add-form" class="form-horizontal" role="form" method="POST" action="users/registration" enctype="application/json" target="">
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-name-input">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-name-input" name="name" placeholder="Enter name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-email-input">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="user-email-input" name="email" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-password-input">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="user-password-input" name="password" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-phone-input">Phone:</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" id="user-phone-input" name="phone" placeholder="Enter phone number">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>

