.jumbotron{
  background-image: url("cloud.jpg");
  height: 500px;
}
.jumbotron .container{
  position: relative;
  top: 50px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.lol .container{
  font-family: 'Arial', sans-serif;
}
.information{
  background-color: #f7f7f7;
  font-family: 'Arial', sans-serif; 
}
.information a{
  color: #00b0ff;
}
.information p{
  font-size: 18px;
}
