@navbar-default-bg: Moccasin;
@jumbotron-bg: Moccasin;
@navbar-default-link-color: DimGrey;
@navbar-default-link-hover-bg: Cornsilk;
@navbar-default-link-hover-color: Black;
@list-group-hover-bg: Cornsilk;
@list-group-border: Moccasin;
@nav-link-hover-bg: Cornsilk;
@link-color: DarkOrange;
@table-border-color: Gold;

